# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
*/node_modules
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
.build
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

# vercel
.vercel

# serverless
.serverless
.serverless_nextjs

# IDE Specific
.idea
.vscode/*
!.vscode/launch.json

# Setup specific
.gitconfig

# dynamodb
.dynamodb

#esbuild
.esbuild
tsconfig.tsbuildinfo

# eslint
.eslintcache

# vite
.dist

# logs
*.log