body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader-container div {
  width: 50px;
  height: 50px;
  background: #a0a0a0;
  border-radius: 30px;
}

.app {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: row;
  flex: 1 1 auto;

  > div:last-of-type {
    flex: 1 1 auto;
    min-width: min(100vw, 390px);
  }
}

[id=root] {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}
