@use '../../../styles/global';

.home {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: row;
  flex: 1 1 auto;

  > div:last-of-type {
    flex: 1 1 auto;
    min-width: min(100vw, 390px);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
  }
}
